.advantages, .services
  padding 3em 0
  text-align: center
  xs-block({
    padding: 1em 0
  })
  .img
    min-height 60px
    img
      width: auto
  .name
    font-size rem(24px)
    font-family: 'Playfair Display'
    color: #1c1c1c
    margin 10px 0
  .text
    color: #858585
    p
      font-size rem(14px)
      line-height: 22px
      text-align: center
