.advantages
  padding 2em 0
  text-align: center
  .title
    margin 0 0 1em 0
  .img
    img
      width: auto
  .name
    font-size rem(24px)
    color: #1c1c1c
    margin 10px 0
  .text
    color: #858585
    p
      font-size rem(14px)
      line-height: 22px
      text-align: center
