.booking
  background-color: #7eb71c
  padding 1.5em 0
  .check__availability
    &-name
      font-family: 'Playfair Display'
      font-size rem(34px)
      color #fff
    .single__block
      vertical-align: bottom
      .icon__calendar
        fill: #fff
        width: 18px
        height: 18px
        position: absolute
        bottom: 12px
        right: 8px
      label
        color: #ececec
        margin 0 0 10px 0
        display: block
        font-size rem(14px)
      input
        border: 1px solid rgba(0, 0, 0, 0.2)
        color #ffffff
        background-color: #71a519
        padding 10px
        width: 185px
        outline none
      .icon
        position: absolute
        bottom: 11px
        right: 8px
      & + .single__block
        margin-left: 5px
      .date_in,.date_out
        width: 120px
    .submit
      button
        background-color: $textColor
        line-height normal
        font-size rem(14px)
        color #ffffff
        height: 41px
        padding 0 50px
