.breadcrumbs
  padding 2em 0 3em 0
  background-color: #f1f1f1
  text-align: center
  ul
    li
      display: inline-block
      position: relative
      font-size: rem(13px)
      color: $textColor
      a
        color: $activeTextColor
        font-weight: 400
        &:hover
          text-decoration: underline
      & + li
        padding-left: 10px
        &:before
          content "/"
          color: $textColor
          position: absolute
          left: 0
          top: 0
