@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Regular.eot');
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
            url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
            url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
            url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url('../fonts/playfairdisplay.woff2') format('woff2'), url('../fonts/playfairdisplay.woff') format('woff'), url('../fonts/playfairdisplay.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url('../fonts/playfairdisplaybold.woff2') format('woff2'), url('../fonts/playfairdisplaybold.woff') format('woff'), url('../fonts/playfairdisplaybold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display Black'), local('PlayfairDisplay-Black'), url('../fonts/playfairdisplayblack.woff2') format('woff2'), url('../fonts/playfairdisplayblack.woff') format('woff'), url('../fonts/playfairdisplayblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
