form
  .error
    display: none
    position: absolute
    margin-left: 2em
    bottom: -2em
    color #ebebeb
    font-size rem(13px)
  .single__block
    z-index 10
    position: relative
    display: inline-block
    &.is__sent
      button[type=submit]
        color #1c1c1c
        &:after
          display: none
        &:hover
          color #1c1c1c
      &:after
        top: 7px
    &.i__agree
      input
        display: inline-block
        width: 14px
        height: 14px
        vertical-align: middle
        margin 0 5px 0 0
        opacity 1
        outline none
      label
        color: #ffffff
        margin: 0
        font-size: rem(14px)
    input, textarea
      border none
      box-sizing border-box
      width: 100%
      background-color: #ffffff
input, textarea
  &:focus::placeholder
    color transparent
.is__sent
  position: relative
  &:after
    position: absolute
    content ""
    left: calc(50% - 13px)
    top: 2px
    border-radius: 50%
    width: 26px
    height: 26px
    z-index 10
    border-top: 3px solid #eee
    border-right: 3px solid #eee
    border-bottom: 3px solid #eee
    border-left: 3px solid #c1bebe
    transform: translateZ(0)
    animation: load8 1.1s infinite linear
@-webkit-keyframes load8
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
@keyframes load8
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
@keyframes animate-circle
  from
    transform: scale(0)
    opacity: 1
  to
    transform: scale(1)
    opacity: 0
