.guest
  text-align: center
  padding 3em 0
  background-color: #f8f8f8
  .col-4
    align-self flex-start
  &__footer
    display: flex
    flex-wrap wrap
    margin: 1.5em 0 0 0
    justify-content center
    &-name
      &:after
        content ", "
    &-date
      margin-left: 5px
  &__text
    p
      color #858585
      font-size rem(15px)
      line-height 22px
      position: relative
      margin 0 20px
      &:after
        content: '„'
        line-height 0
        margin-left: 10px
        font-size: rem(40px)
      &:before
        position: absolute
        content: '“'
        top: 0
        left: -20px
        font-size: rem(40px)
.guest__book-list
  margin 2em 0
  &-item
    border 1px solid #eaeaea
    padding 1em
    box-shadow: 0 0 4px rgba(234,234,234,0.5)
    & + .guest__book-list-item
      margin 1em 0 0 0
    .author
      font-weight: bold
      margin 0 0 1em 0
      padding 0 0 1em 0
      border-bottom 1px solid #eaeaea
    .text
      position: relative
      display: inline-block
      p
        margin 0 0 10px 0
.sb__guest-form
  .single__block
    textarea
      height: 80px
