.icon
  fill: #ffffff
  display: inline-block
  vertical-align: middle
  &:hover
    fill: $activeTextColor
.select__arrow
  sprite($icon_arrow_black)
  transform rotate(180deg)
  right: 15px
  top: 18px
  position: absolute
.human
  sprite($icon_human_green)
