.pagination
  text-align: center
  margin 1em 0
  width: 100%
  display: block
  ul
    padding: 0
    li
      display: inline-block
      &:before
        display: none
      &.active
        a, span
          color: $activeTextColor
      a, span
        border: 1px solid $textDescColor
        padding 5px 16px
        color: $textColor
        font-size: rem(18px)
        font-weight: 400
        &:hover
          color: $activeTextColor
