.rooms
  text-align: center
  background-color: #f8f8f8
  padding 3em 0
  xs-block({
    padding: 1em 0
  })
  .title
    margin 0 0 .5em 0
  .small__text
    max-width: 630px
    margin 0 auto
    p
      text-align: center
      color: #858585
      line-height: 24px
      font-size: rem(16px)
  &__slider
    margin 1em 0
    > div
      &:hover
        .caption
          border-color $activeTextColor
    &-img
      display: block
      line-height 0
      img
        height: 100%
      a
        display: inline-block
    .caption
      transition: all 300ms ease
      background-color: #ffffff
      text-align: left
      padding 1em 1.5em 1.5em 1.5em
      border-left 1px solid #ffffff
      border-right 1px solid #ffffff
      border-bottom 1px solid #ffffff
      &__name
        font-size rem(24px)
        a
          font-family: 'Playfair Display'
          color: $textColor
          &:hover
            color $activeTextColor
      &__price
        font-weight bold
        margin .6em 0 .8em 0
      &__text
        color: #858585
        p
          font-size rem(14px)
          line-height: 22px
    .owl-nav
      margin: 0
      .owl-prev, .owl-next
        position: absolute
        top calc(50% - 21px)
      .owl-prev
        left: 0
      .owl-next
        right: 0
.rooms__list
  margin 2em 0
  color $textColor
  &-item
    display: flex
    flex-wrap wrap
    row-flex()
    align-items center
    position: relative
    &:after
      content ""
      z-index -1
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 1%
      background-color: #f8f8f8
    & + .rooms__list-item
      margin-top: 2em
    &-img
      col()
      size(6)
      size-sm(12)
      line-height 0
    &-text
      col()
      size(6)
      size-sm(12)
      align-self flex-start
      .name
        color: $textColor
        font-family: 'Playfair Display'
        font-size rem(30px)
        &:hover
          color $activeTextColor
      .price
        margin .8em 0
        font-size rem(18px)
        font-weight bold
      .buttons
        margin 1em 0 0 0
