.main__text
  padding 3em 0
  background-color: #f8f8f8
  h1
    text-align: center
  [class*=col-]
    align-self flex-start
.poem
  &__title
    font-weight bold
    font-size rem(18px)
    margin 0 0 .5em 0
  &__author
    text-align: right
