/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_arrow_black_name = 'icon_arrow-black';
$icon_arrow_black_x = 30px;
$icon_arrow_black_y = 91px;
$icon_arrow_black_offset_x = -30px;
$icon_arrow_black_offset_y = -91px;
$icon_arrow_black_width = 12px;
$icon_arrow_black_height = 6px;
$icon_arrow_black_total_width = 154px;
$icon_arrow_black_total_height = 120px;
$icon_arrow_black_image = 'sprite.png';
$icon_arrow_black = 30px 91px -30px -91px 12px 6px 154px 120px 'sprite.png' 'icon_arrow-black';
$icon_arrow_menu_down_name = 'icon_arrow-menu-down';
$icon_arrow_menu_down_x = 130px;
$icon_arrow_menu_down_y = 60px;
$icon_arrow_menu_down_offset_x = -130px;
$icon_arrow_menu_down_offset_y = -60px;
$icon_arrow_menu_down_width = 10px;
$icon_arrow_menu_down_height = 10px;
$icon_arrow_menu_down_total_width = 154px;
$icon_arrow_menu_down_total_height = 120px;
$icon_arrow_menu_down_image = 'sprite.png';
$icon_arrow_menu_down = 130px 60px -130px -60px 10px 10px 154px 120px 'sprite.png' 'icon_arrow-menu-down';
$icon_arrow_menu_mob_down_name = 'icon_arrow-menu-mob-down';
$icon_arrow_menu_mob_down_x = 22px;
$icon_arrow_menu_mob_down_y = 108px;
$icon_arrow_menu_mob_down_offset_x = -22px;
$icon_arrow_menu_mob_down_offset_y = -108px;
$icon_arrow_menu_mob_down_width = 10px;
$icon_arrow_menu_mob_down_height = 10px;
$icon_arrow_menu_mob_down_total_width = 154px;
$icon_arrow_menu_mob_down_total_height = 120px;
$icon_arrow_menu_mob_down_image = 'sprite.png';
$icon_arrow_menu_mob_down = 22px 108px -22px -108px 10px 10px 154px 120px 'sprite.png' 'icon_arrow-menu-mob-down';
$icon_arrow_name = 'icon_arrow';
$icon_arrow_x = 0px;
$icon_arrow_y = 60px;
$icon_arrow_offset_x = 0px;
$icon_arrow_offset_y = -60px;
$icon_arrow_width = 20px;
$icon_arrow_height = 38px;
$icon_arrow_total_width = 154px;
$icon_arrow_total_height = 120px;
$icon_arrow_image = 'sprite.png';
$icon_arrow = 0px 60px 0px -60px 20px 38px 154px 120px 'sprite.png' 'icon_arrow';
$icon_arrow_green_name = 'icon_arrow_green';
$icon_arrow_green_x = 101px;
$icon_arrow_green_y = 60px;
$icon_arrow_green_offset_x = -101px;
$icon_arrow_green_offset_y = -60px;
$icon_arrow_green_width = 19px;
$icon_arrow_green_height = 11px;
$icon_arrow_green_total_width = 154px;
$icon_arrow_green_total_height = 120px;
$icon_arrow_green_image = 'sprite.png';
$icon_arrow_green = 101px 60px -101px -60px 19px 11px 154px 120px 'sprite.png' 'icon_arrow_green';
$icon_arrow_project_active_name = 'icon_arrow_project-active';
$icon_arrow_project_active_x = 0px;
$icon_arrow_project_active_y = 0px;
$icon_arrow_project_active_offset_x = 0px;
$icon_arrow_project_active_offset_y = 0px;
$icon_arrow_project_active_width = 72px;
$icon_arrow_project_active_height = 50px;
$icon_arrow_project_active_total_width = 154px;
$icon_arrow_project_active_total_height = 120px;
$icon_arrow_project_active_image = 'sprite.png';
$icon_arrow_project_active = 0px 0px 0px 0px 72px 50px 154px 120px 'sprite.png' 'icon_arrow_project-active';
$icon_arrow_project_name = 'icon_arrow_project';
$icon_arrow_project_x = 82px;
$icon_arrow_project_y = 0px;
$icon_arrow_project_offset_x = -82px;
$icon_arrow_project_offset_y = 0px;
$icon_arrow_project_width = 72px;
$icon_arrow_project_height = 50px;
$icon_arrow_project_total_width = 154px;
$icon_arrow_project_total_height = 120px;
$icon_arrow_project_image = 'sprite.png';
$icon_arrow_project = 82px 0px -82px 0px 72px 50px 154px 120px 'sprite.png' 'icon_arrow_project';
$icon_arrow_project_mob_name = 'icon_arrow_project_mob';
$icon_arrow_project_mob_x = 30px;
$icon_arrow_project_mob_y = 60px;
$icon_arrow_project_mob_offset_x = -30px;
$icon_arrow_project_mob_offset_y = -60px;
$icon_arrow_project_mob_width = 29px;
$icon_arrow_project_mob_height = 21px;
$icon_arrow_project_mob_total_width = 154px;
$icon_arrow_project_mob_total_height = 120px;
$icon_arrow_project_mob_image = 'sprite.png';
$icon_arrow_project_mob = 30px 60px -30px -60px 29px 21px 154px 120px 'sprite.png' 'icon_arrow_project_mob';
$icon_calendar_name = 'icon_calendar';
$icon_calendar_x = 69px;
$icon_calendar_y = 60px;
$icon_calendar_offset_x = -69px;
$icon_calendar_offset_y = -60px;
$icon_calendar_width = 22px;
$icon_calendar_height = 20px;
$icon_calendar_total_width = 154px;
$icon_calendar_total_height = 120px;
$icon_calendar_image = 'sprite.png';
$icon_calendar = 69px 60px -69px -60px 22px 20px 154px 120px 'sprite.png' 'icon_calendar';
$icon_close_name = 'icon_close';
$icon_close_x = 0px;
$icon_close_y = 108px;
$icon_close_offset_x = 0px;
$icon_close_offset_y = -108px;
$icon_close_width = 12px;
$icon_close_height = 12px;
$icon_close_total_width = 154px;
$icon_close_total_height = 120px;
$icon_close_image = 'sprite.png';
$icon_close = 0px 108px 0px -108px 12px 12px 154px 120px 'sprite.png' 'icon_close';
$spritesheet_width = 154px;
$spritesheet_height = 120px;
$spritesheet_image = 'sprite.png';
$spritesheet_sprites = $icon_arrow_black $icon_arrow_menu_down $icon_arrow_menu_mob_down $icon_arrow $icon_arrow_green $icon_arrow_project_active $icon_arrow_project $icon_arrow_project_mob $icon_calendar $icon_close;
$spritesheet = 154px 120px 'sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url('../img/' + $sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
