.tabs>ul li
  cursor:pointer
  padding:10px 0 10px 15px
  text-transform: uppercase
  font-family: "Playfair Display"
  position: relative
  &:after
    content ""
    position: absolute
    transition: all 300ms ease
    background-color: #c19b76
    width: 1px
    height: 100%
    right: -6%
    z-index 10
    top: 0
    opacity 0
    sm-block({
      display: none
    })
.tabs>ul li.active, .tabs>ul li.active:hover
  color: $activeTextColor
.tabs>ul li.active
  &:after
    opacity 1
.tabs>ul li:hover
  color:$activeTextColor
.tabs
  row-flex()
  align-items stretch
  margin-bottom 1em
  >ul
    col()
    size(3)
    size-sm(12)
.tabs > div
  col()
  size(9)
  size-sm(12)
  position: relative
  &:before
    background-color: #dadada
    height: 100%
    width: 1px
    content ""
    position: absolute
    left: -1%
    right: 0
    sm-block({
      display: none
    })
  > div
    padding 15px
    p
      text-align: left
