.tabs>ul
  margin:0
  padding:0
.tabs>ul:after
  content:""
  display: block
  clear:both
.tabs>ul li
  cursor:pointer;
  display:block;
  float:left;
  padding:10px 15px;
  background:#d6d6d7
  color: #2b2b2b
  + li
    border-left: 1px solid #fff
  &:first-child
    border-top-left-radius 5px
  &:last-child
    border-top-right-radius 5px
.tabs>ul li.active, .tabs>ul li.active:hover
  background: $mainColor
  color:#fff
.tabs>ul li:hover
  background:#d6d6d7
.tabs
  margin-top: 1em
  margin-bottom: 1em
.tabs > div
  background-color: #fff
  > div
    padding 1em 1em .2em 1em
    p
      text-align: left
